body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin:0;
}

h1, p , div, input, button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #212122;
}

h1 {
    margin: 0;
}

input {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1em;
}

.add {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right:0;
    margin: 5vh;
    cursor: pointer;
    
}

.add img{
    width: 7vh;
    border-radius: 50%;
    box-shadow:0px 0px 10px #8e8e93 ;
    
}

.add:hover {
    animation: addHover 0.5s ease forwards;
}

@keyframes addHover {
    from {
        transform: translateY(0%);
      }
    
      to {
        transform: translateY(-20%);
      }
}

.title{
    top:0;
    left:0;
    right:0;
    height: max-content;
    padding:1vh 5vw 1vh 10vw;
    width:100%;
    text-align: left;
    background-color: #8067ff;
}

.title h1 {
    font-size: 4vh;
    
}

.title p {
    font-size: 2vh;
    
}
.title p, .title h1 {
    display: inline;
    color: #ffffff;
    padding: 0;
}

.data {
    display: inline-block;
    margin: 2vh;
    box-shadow:0px 0px 10px #d1d1d6 ;
    width: max-content;
    border-radius: 10px;
}
.data img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#dataSet {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-content: center;
}

.date {
    float: right;
    font-size: 0.8em;
    padding:10px;
    color: #8e8e93;
}

.mood {
    color: #363636;
}
.description {
    padding:10px;
}
.description p {
    margin: 0;
    
}

#map {
    height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
}


