body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
h1, p , div, input, button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212122;
}

h1 {
    margin: 0;
}

input {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1em;
}

button {
    outline: none;
    border-radius: 10px;
    padding: 0.5vw 2vh ;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #212122;
    color:#fff;

}

.title{
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}
.data {
    display: inline-block;
    margin: 2vh;
    box-shadow:0px 0px 10px #d1d1d6 ;
    
}

.description {
    padding:10px;
}
.data p {
    margin: 0;
}



